/* Add the color pallette of MDS */

/* 

font-family: 'Righteous', sans-serif;
font-family: 'Ubuntu Mono', monospace;

*/

:root{
  --main-blue: #2EC7D3;
  --black: #3C3C3B;
  --yellow: #FFBD1D;
  --orange: #FF8A22;
  --light-blue: #17E5F5;
  --dark-blue: #45A1FF;
  --pink: #45A1FF;
  --white: #FFFFFF;
  --darkest-blue: #326571;

  --side-padding: 8rem;
  --vertical-padding: 4rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2, h3, h4, h5, h6{
  font-family: 'Righteous', sans-serif;
}

h2{
  text-transform: uppercase;
  font-size: 5em;
}