@import './base.css';

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: var(--darkest-blue);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-blue);
    border-radius: 5rem;
    border: .25rem solid var(--darkest-blue);
}

.btn{
    margin: 0;
    border: .15em solid var(--black);
    /* border: 0;
    box-shadow: 0 .2em 1em .3em #0002; */
    padding: .5em 1.2em;
    border-radius: .25em;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: var(--light-blue);
    color: var(--black);
    font-family: 'Righteous', sans-serif;
    cursor: pointer;
    transition: 
        box-shadow .3s ease-out,
        border-color .3s ease-out;
    max-width: 400px;
}

.btn:hover{
    box-shadow: 0 .2em 1.5em -.1em var(--main-blue);
    border-color: var(--main-blue);

}

.loader {
    width: 60px;
    height: 60px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: radial-gradient(ellipse at center, #FFF 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, #FFF 48%, #FFF 52%, rgba(0, 0, 0, 0) 53%);
    background-size: 20px 20px , 20px auto;
    background-repeat: repeat-x;
    background-position: center bottom, center -5px;
    box-sizing: border-box;
  }
  .loader::before,
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
    height: 60px;
    background: radial-gradient(ellipse at center, #FFF 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, #FFF 48%, #FFF 52%, rgba(0, 0, 0, 0) 53%);
    background-size: 20px 20px , 20px auto;
    background-repeat: no-repeat;
    background-position: center bottom, center -5px;
    transform: rotate(0deg);
    transform-origin: 50% 0%;
    animation: animPend 1s linear infinite alternate;
  }
  .loader::after {
    animation: animPend2 1s linear infinite alternate;
    left: 100%;
  }
  
  @keyframes animPend {
    0% {
      transform: rotate(22deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes animPend2 {
    0%, 55% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-22deg);
    }
  }